.header-menu {
	font-size: 1rem;
	max-width: 1200px;
	margin: 0 auto;

	ul, li {
		list-style: none;
	}
	.icon {
		width: 40px;
	}
	.lang-switcher .icon {
		width: 20px;
	}
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 5px;
		margin: 0;
		gap: 2rem;
		min-height: 44px;
		align-items: center;
	}
	li:last-child {
		display: flex;
		flex-grow: 1;
		justify-content: flex-end;
	}
	
	a {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: .5rem;
		font-weight: bold;
		line-height: 1.2;
		flex-direction: row;
		&:hover {
			.label {
				opacity: 1;
				color: var(text-color);
				transform: translateY(0);
			}
		}
	}
}
@media (max-width: 600px) {
	.header-menu {
		ul {
			gap: 15px;
			row-gap: .5rem;

			font-size: 16px;
			a {
				gap: 5px;
			};
			
		}
	}
}
.about .header-menu ul {
	padding-bottom: 3rem;
}